<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395949993641-m840lktdfqcktcvu7k4n292rm5cduq7i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALrICrqS7zKtI__RJ21e9QrSo62AcyHhA</string>
	<key>GCM_SENDER_ID</key>
	<string>395949993641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.gokidu</string>
	<key>PROJECT_ID</key>
	<string>gokidu-5e6b5</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395949993641:ios:30bb174597dc3c50f243b8</string>
</dict>
</plist>